%h2
  Edit #{resource_name.to_s.humanize}
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.inputs do
    = f.input :name
    = f.input :email
    = f.input :organization
    = f.input :requested_role, :as => :radio, :collection => User::REGISTERABLE_ROLES.map{|r|["#{r.humanize} - #{User::ROLE_MAP[r.to_sym]}",r]}, :label => "Requested Role", :selected => User::REGISTERABLE_ROLES.first, :hint => "Requesting a role other than 'Public' will require approval by GLATOS and will not be effective immediately"
    = f.input :password, :label => "Password", :hint => "Leave blank if you don't want to change it"
    = f.input :password_confirmation
    = f.input :current_password, :label => "Current Password", :hint => "We need your current password to confirm your changes"
  = f.buttons do
    = f.submit "Update"

%br
