%h2 Sign up
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.inputs do
    = f.input :name
    = f.input :email
    = f.input :organization
    = f.input :role, :as => :select, :collection => options_for_select(User::ROLES.map{|r|[r.humanize,r]}), :label => "Requested Role"
    = f.input :password
    = f.input :password_confirmation
  = f.buttons do
    = f.submit "Sign up"
%br
= render :partial => "devise/shared/links"
