%h2 Sign up
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.inputs do
    = f.input :name
    = f.input :email
    = f.input :organization
    = f.input :requested_role, :as => :radio, :collection => User::REGISTERABLE_ROLES.map{|r|["#{r.humanize} - #{User::ROLE_MAP[r.to_sym]}",r]}, :label => "Requested Role", :selected => User::REGISTERABLE_ROLES.first, :hint => "Requesting a role other than 'General' will require approval by GLATOS and will not be effective immediately"
    = f.input :password
    = f.input :password_confirmation
    = f.input :newsletter, :label => "Subscribe to the GLATOS newsletter"
  = f.buttons do
    = f.commit_button "Sign up"
%br
= render :partial => "devise/shared/links"

:javascript
  $(document).ready(function() {
    // Select the Public radio if none are selected
    var $radios = $('input:radio[name=user[role]]');
    if($radios.is(':checked') === false) {
      $radios.filter('[value=general]').attr('checked', true);
    }
  });
