%p
  A user is requesting an upgraded role

  = @user.name
  %br
  = @user.email
  %br
  = @user.organization
  %br
  = "Current Role: #{@user.role.humanize}" if @user.role
  %br
  = "Newly Requested Role: #{@user.requested_role.humanize}"
  %br

%p You can approve this users's role upgrade through the link below:
%p= link_to 'User Administration', users_url
