%h2 Forgot your password?
= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  = f.inputs do
    = f.input :email

  = f.actions do
    = f.action :submit, :as => :button, :label => "Send me reset password instructions", :button_html => { :id => "Send me reset password instructions"}

%br

= render :partial => "devise/shared/links"
