#study_edit_page

  %h2 #{@study.name}

  = semantic_form_for(@study, :url => study_path(@study), :html => { :method => :put }) do |f|
    = f.inputs do
      = f.input :name
      = f.input :description
      = f.input :start
      = f.input :ending
      = f.input :url
      = f.input :species
      = f.input :code, :hint => "Before changing this, please beware of the consequences!"
      = f.input :title
      = f.input :information
      = f.input :benefits
      = f.input :organizations, :hint => "Seperate individial entries with a '=;='"
      = f.input :funding, :hint => "Seperate individial entries with a '=;='"
      = f.input :objectives, :hint => "Seperate individial entries with a '=;='"
      = f.input :investigators, :hint => "Seperate individial entries with a '=;='"

      = f.input :img_first, :label => "First Image", :hint => "#{@study.img_first_file_name || 'None'}"
      = image_tag @study.img_first.url(:thumb) if @study.img_first.exists?

      = f.input :img_second, :label => "Second Image", :hint => "#{@study.img_second_file_name || 'None'}"
      = image_tag @study.img_second.url(:thumb) if @study.img_second.exists?

      = f.input :img_third, :label => "Third Image", :hint => "#{@study.img_third_file_name || 'None'}"
      = image_tag @study.img_third.url(:thumb) if @study.img_third.exists?

      = f.input :img_fourth, :label => "Fourth Image", :hint => "#{@study.img_fourth_file_name || 'None'}"
      = image_tag @study.img_fourth.url(:thumb) if @study.img_fourth.exists?

      = f.input :img_fifth, :label => "Fifth Image", :hint => "#{@study.img_fifth_file_name || 'None'}"
      = image_tag @study.img_fifth.url(:thumb) if @study.img_fifth.exists?

    = f.actions do
      = f.action :submit, :as => :button, :label => "Update", :button_html => { :id => "Update"}
