#study_page

  %h2 #{@study.name}

  #listings
    .lineitem
      %span
        Project Title:
      #{@study.title}


    .lineitem
      %span
        GLATOS Project Code:
      #{@study.code}

    .lineitem
      %span
        Project Duration:
      #{@study.start.strftime("%B %Y")} - #{@study.ending.strftime("%B %Y")}

    .lineitem
      %span
        Project Description:
      #{@study.description}

    .lineitem
      %span
        Management Benefits:
      #{@study.benefits}

    .lineitem
      %span
        Investigator:
      %br
      #{@study.user.name}
      %br
      #{@study.user.organization}
      %br
      #{@study.user.email}

    .lineitem
      %span
        Objectives:
      %ol
        - @study.objectives.each do |obj|
          %li
            #{obj}

    .lineitem
      %span
        Participating Organizations:
      %ol
        - @study.organizations.each do |org|
          %li
            #{org}

    .lineitem
      %span
        Funding:
      %ol
        - @study.funding.each do |fund|
          %li
            #{fund}

    .lineitem
      %span
        External URL:
      #{link_to @study.url, @study.url}

  #images

  .clear

