#study_page

  - if can? :update, @study
    = link_to "Edit this Project", edit_project_path(@study)

  %h2 #{@study.name}

  #listings
    .lineitem
      %span
        Project Title:
      #{@study.title}


    .lineitem
      %span
        GLATOS Project Code:
      #{@study.code}

    .lineitem
      %span
        Project Duration:
      #{@study.start.strftime("%B %Y")} - #{@study.ending.strftime("%B %Y")}

    .lineitem
      %span
        Project Description:
      #{@study.description}

    .lineitem
      %span
        Objectives:
      %ol
        - @study.objectives.each do |obj|
          %li
            #{obj}

    .lineitem
      %span
        Management Benefits:
      #{@study.benefits}

    .lineitem
      %span
        Investigators:
      %ol
        %li 
          = "#{@study.user.name} (#{@study.user.organization}) - #{@study.user.email}"
        - @study.investigators.each do |inv|
          %li
            #{inv}

    .lineitem
      %span
        Participating Organizations:
      %ol
        - @study.organizations.each do |org|
          %li
            #{org}

    .lineitem
      %span
        Funding:
      %ol
        - @study.funding.each do |fund|
          %li
            #{fund}

    .lineitem
      %span
        External URL:
      #{link_to @study.url, @study.url}

  #images
    = image_tag @study.img_first.url(:medium) if @study.img_first?
    = image_tag @study.img_second.url(:medium) if @study.img_second?
    = image_tag @study.img_third.url(:medium) if @study.img_third?
    = image_tag @study.img_fourth.url(:medium) if @study.img_fourth?
    = image_tag @study.img_fifth.url(:medium) if @study.img_fifth?

  .clear

