#analyze_submission

  - if @submission

    %strong
      #{@submission.zipfile_file_name}

    (
    = link_to "Download", @submission.zipfile.url
    )

    %br
    %br

    %button{:id => 'analyze'}
      Analyze Submission

    %button{:id => 'process'}
      Process Submission - All project data will be replaced!

    %br
    %br

    #messages

    %br
    %br

    #project_info

    %br
    %br

    #accordion
      %h3{:id => 'project_h'}
        = image_tag('spinner-small.gif', :id => 'projspin', :style => 'display: none;')
        %a{:href => "#"}
          Project
      #project

      %h3
        = image_tag('spinner-small.gif', :id => 'locspin', :style => 'display: none;')
        %a{:href => "#"}
          Locations
      #locations

      %h3
        = image_tag('spinner-small.gif', :id => 'depspin', :style => 'display: none;')
        %a{:href => "#"}
          Deployment
      #deployments

      %h3
        = image_tag('spinner-small.gif', :id => 'propspin', :style => 'display: none;')
        %a{:href => "#"}
          Proposed
      #proposed

      %h3
        = image_tag('spinner-small.gif', :id => 'retspin', :style => 'display: none;')
        %a{:href => "#"}
          Retrievals
      #retrievals

      %h3
        = image_tag('spinner-small.gif', :id => 'tagspin', :style => 'display: none;')
        %a{:href => "#"}
          Tags
      #tags


  %div{:style => "height: 400px;"}


:javascript

  $(document).ready(function() {

    $( "#accordion" ).maccordion({active: false});
    $("#process").attr('disabled', true);
    $("#analyze").removeAttr('disabled');

    function call_locations() {
      $("#locspin").show();
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "#{locations_submission_path(@submission)}.js",
        success: function(x) {
          append_results("#locations", x);
          $( "#accordion" ).maccordion("refresh");
          call_deployments();
        },
        error: function(x) {
          alert('Failed to parse ' + x);
        },
        complete: function() {
          $("#locspin").hide();
        }
      });
    }

    function call_deployments() {
      $("#depspin").show();
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "#{deployments_submission_path(@submission)}.js",
        success: function(x) {
          append_results("#deployments", x);
          $( "#accordion" ).maccordion("refresh");
          call_proposed();
        },
        error: function(x) {
          alert('Failed to parse ' + x);
        },
        complete: function() {
          $("#depspin").hide();
        }
      });
    }

    function call_proposed() {
      $("#propspin").show();
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "#{proposed_submission_path(@submission)}.js",
        success: function(x) {
          append_results("#proposed", x);
          $( "#accordion" ).maccordion("refresh");
          call_retrievals();
        },
        error: function(x) {
          alert('Failed to parse ' + x);
        },
        complete: function() {
          $("#propspin").hide();
        }
      });
    }

    function call_retrievals() {
      $("#retspin").show();
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "#{retrievals_submission_path(@submission)}.js",
        success: function(x) {
          append_results("#retrievals", x);
          $( "#accordion" ).maccordion("refresh");
          call_tags();
        },
        error: function(x) {
          alert('Failed to parse ' + x);
        },
        complete: function() {
          $("#retspin").hide();
        }
      });
    }

    function call_tags() {
      $("#tagspin").show();
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "#{tags_submission_path(@submission)}.js",
        success: function(x) {
          append_results("#tags", x);
          $( "#accordion" ).maccordion("refresh");
        },
        error: function(x){
          alert('Failed to parse ' + x);
        },
        complete: function() {
          $("#tagspin").hide();
          $("#messages").html("<div class='info'>Submission Complete.  Please check for information about individual data sheets below.</div>")
        }
      });
    }

    function append_results(div_string, results) {

      clear_results(div_string);

      if (results.total != null) {
        fstring  = "<table class='subtable'>";
        fstring += "<tr><td class='label'>Records in File</td><td>"+results.total+"</td></tr>";
        fstring += "</table>";
        $(div_string).append(fstring);
      }
      if (results.saved != null) {
        fstring  = "<table class='subtable'>";
        fstring += "<tr><td class='label'>Records Saved</td><td>"+results.saved+"</td></tr>";
        fstring += "</table>";
        $(div_string).append(fstring);
      }
      if (results.errors != null) {
        fstring  = "<table class='subtable'>";
        fstring += "<tr><td class='label'>Errors</td><td>"+results.errors.length+"</td></tr>";
        fstring += "</table>";
        $(div_string).append(fstring);

        error_string  = "<table class='subtable'>";
        $.each(results.errors, function(i,e) {
          error_string += "<tr><td>" + e + "</td><td /></tr>"
        });
        error_string += "</table>";
        $(div_string).append(error_string);
      }

      if (results.study != null) {
        study_string = "<table class='subtable'>";
        study_string += "<tr><td class='label'>Project</td><td /></tr>";
        study_string += "<tr><td class='label'>Code</td><td>" + results.study.code + "</td></tr>";
        study_string += "<tr><td class='label'>Short Title</td><td>" + results.study.name + "</td></tr>";
        study_string += "<tr><td class='label'>Title</td><td>" + results.study.title + "</td></tr>";
        study_string += "<tr><td class='label'>Description</td><td>" + results.study.description + "</td></tr>";
        study_string += "<tr><td class='label'>Start</td><td>" + results.study.start + "</td></tr>";
        study_string += "<tr><td class='label'>End</td><td>" + results.study.ending + "</td></tr>";
        study_string += "<tr><td class='label'>External URL</td><td>" + results.study.url + "</td></tr>";

        $.each(results.study.benefits, function(i,e) {
          study_string += "<tr><td class='label'>Benefit " + i + ":</td><td>" + e + "</td></tr>";
        });
        $.each(results.study.funding, function(i,e) {
          study_string += "<tr><td class='label'>Funding Source " + i + ":</td><td>" + e + "</td></tr>";
        });
        $.each(results.study.investigators, function(i,e) {
          study_string += "<tr><td class='label'>Investigator " + i + ":</td><td>" + e + "</td></tr>";
        });
        $.each(results.study.objectives, function(i,e) {
          study_string += "<tr><td class='label'>Objective " + i + ":</td><td>" + e + "</td></tr>";
        });
        $.each(results.study.organizations, function(i,e) {
          study_string += "<tr><td class='label'>Organization " + i + ":</td><td>" + e + "</td></tr>";
        });
        study_string += "</table>";
        $(div_string).append(study_string);
      }

      if (results.user != null) {
        user_string = "<table class='subtable'>";
        user_string += "<tr><td class='label'>PI</td><td /></tr>";
        user_string += "<tr><td class='label'>Name</td><td>" + results.user.name + "</td></tr>";
        user_string += "<tr><td class='label'>Email</td><td>" + results.user.email + "</td></tr>";
        user_string += "<tr><td class='label'>Organization</td><td>" + results.user.organization + "</td></tr>";
        user_string += "<tr><td class='label'>Role</td><td>" + results.user.role + "</td></tr>";
        user_string += "</table>";
        $(div_string).append(user_string);
      }

    }

    function clear_results(div_string) {
      $(div_string).html("");
    }

    $("#process").click(function(e) {
      $("#projspin").show();
      e.preventDefault();
      $("#process").attr('disabled', true);
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "#{project_submission_path(@submission)}.js",
        success: function(x) {

          append_results("#project", x);
          $( "#accordion" ).maccordion("refresh");
          call_locations();
        },
        error: function(x) {
          alert('Failed to parse ' + x);
        },
        complete: function() {
          $("#projspin").hide();
        }
      });
    });

    $("#analyze").click(function(e) {
      $("#projspin").show();
      e.preventDefault();
      clear_results("#project");
      clear_results("#locations");
      clear_results("#deployments");
      clear_results("#proposed");
      clear_results("#retrievals");
      clear_results("#tags");
      $( "#accordion" ).maccordion("refresh");
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "#{parse_submission_path(@submission)}.js",
        success: function(x) {
          if (x.errors.length == 0) {
            delete x.errors
            $("#process").removeAttr("disabled");
            $("#analyze").attr('disabled', true);
            $("#messages").html("<div class='info'>Please double check the Project and PI information below before submitting.</div>")
          } else {
            delete x.study
            delete x.user
            $("#messages").html("<div class='error'>Errors found in project data.  Please update project information in the Zipfile and try again.  Details below.</div>")
          }
          append_results("#project_info", x);
        },
        error: function(x) {
          alert('Failed to parse ' + x);
        },
        complete: function() {
          $("#projspin").hide();
        }
      });
    });
  });
