%p
  A tag was found that was linked to your project.  Below is a summary.

  = "Tag: #{@report.input_tag}"

  = "Name: #{@report.name}"
  = "Phone: #{@report.phone}"
  = "City: #{@report.city}"
  = "State/Province: #{@report.state}"

  = "Location: #{@report.location}"
  = "Description: #{@report.email}"
  = "Caught: #{@report.found}"
  = "Reported: #{@report.reported}"

  = "Method: #{@report.method}"
  = "Fishtype: #{@report.fishtype}"
  = "Length: #{@report.length}"
  = "Weight: #{@report.weight}"
  = "Fishtype: #{@report.fishtype}"
