%p
  Thank you for your Report!  Below is a summary.

  = "Internal Tag: #{@report.input_tag}"
  = "External Tag: #{@report.input_external_codes.compact.join(',') rescue nil}"

  = "Name: #{@report.name}"
  = "Phone: #{@report.phone}"
  = "City: #{@report.city}"
  = "State/Province: #{@report.state}"

  = "Location: #{@report.location}"
  = "Description: #{@report.description}"
  = "Caught: #{@report.found}"
  = "Reported: #{@report.reported}"

  = "Method: #{@report.method}"
  = "Fishtype: #{@report.fishtype}"
  = "Length: #{@report.length}"
  = "Weight: #{@report.weight}"
  = "Fishtype: #{@report.fishtype}"

%p
  Someone will be in contact with you soon regarding the return of the tag.
