%p
  A report was filed that did not match any known tags.  Below is a summary.

  = "Reported Internal Tag: #{@report.input_tag}"
  = "Reported External Tag: #{@report.input_external_code}"

  = "Name: #{@report.name}"
  = "Phone: #{@report.phone}"
  = "City: #{@report.city}"
  = "State/Province: #{@report.state}"

  = "Location: #{@report.location}"
  = "Description: #{@report.email}"
  = "Caught: #{@report.found}"
  = "Reported: #{@report.reported}"

  = "Method: #{@report.method}"
  = "Fishtype: #{@report.fishtype}"
  = "Length: #{@report.length}"
  = "Weight: #{@report.weight}"
  = "Fishtype: #{@report.fishtype}"
