#signin
  .login
    %h2 Please login.
    Enter your email and password. If you do not yet have a GLATOS account, please #{link_to "request an account" , new_user_registration_path}.

    = render :partial => "devise/shared/links"

  .form
    = semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.inputs do
        = f.input :email
        = f.input :password
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
          = f.label :remember_me
      = f.actions do
        = f.action :submit, :as => :button, :label => "Sign in", :button_html => { :id => "Sign in"}

    %br
  .clear
