var map;
var proj900913 = new OpenLayers.Projection("EPSG:900913");
var proj4326   = new OpenLayers.Projection("EPSG:4326");
var glatosStudiesStore = new Ext.data.ArrayStore({fields : []});
var glatosDeployments  = {
   features    : []
  ,start       : new Date()
  ,ending      : new Date()
  ,frequencies : []
};
var sm =  new OpenLayers.StyleMap({
  'default' : new OpenLayers.Style(OpenLayers.Util.applyDefaults({
     pointRadius     : 6
    ,fillColor       : '#e8bb99'
    ,fillOpacity     : 0.7
    ,strokeWidth     : 1
    ,strokeColor     : '#b56529'
    ,strokeOpacity   : 1
  }))
  ,'select' : new OpenLayers.Style(OpenLayers.Util.applyDefaults({
     pointRadius     : 6
    ,fillColor       : '#99e9ae'
    ,fillOpacity     : 0.7
    ,strokeWidth     : 1
    ,strokeColor     : '#1d8538'
    ,strokeOpacity   : 1
  }))
  ,'temporary' : new OpenLayers.Style(OpenLayers.Util.applyDefaults({
     pointRadius     : 6
    ,fillColor       : '#99BBE8'
    ,fillOpacity     : 0.7
    ,strokeWidth     : 1
    ,strokeColor     : '#1558BB'
    ,strokeOpacity   : 1
  }))
});
var deploymentsLayer = new OpenLayers.Layer.Vector('Deployments',{
  styleMap : sm
});
var mouseoverObs;
var popupObs;
var hiliteCtll;
var popupCtl;
var dNow = new Date();
dNow.setMinutes(0);
dNow.setSeconds(0);
var maxOptionsPerFilter = 5; // how many items to list before kicking in a scrollbar (for projects & frequency)

if (Ext.isIE && (parseFloat(navigator.appVersion.split("MSIE")[1]) >= 9) && (typeof Range.prototype.createContextualFragment == "undefined")) {
    Range.prototype.createContextualFragment = function(html) {
        var doc = this.startContainer.ownerDocument;
        var container = doc.createElement("div");
        container.innerHTML = html;
        var frag = doc.createDocumentFragment(), n;
        while ( (n = container.firstChild) ) {
            frag.appendChild(n);
        }
        return frag;
    };
}

function init() {
  Ext.QuickTips.init();

  var loadingMask = Ext.get('loading-mask');
  var loading = Ext.get('loading');

  //Hide loading message
  loading.fadeOut({duration : 0.2,remove : true});

  //Hide loading mask
  loadingMask.setOpacity(0.9);
  loadingMask.shift({
     xy       : loading.getXY()
    ,width    : loading.getWidth()
    ,height   : loading.getHeight()
    ,remove   : true
    ,duration : 1
    ,opacity  : 0.1
    ,easing   : 'bounceOut'
  });

  Ext.QuickTips.init();

  // don't remember window settings
  Ext.override(Ext.Component,{
    stateful : false
  });

  var introPanel = new Ext.Panel({
     height : 60
    ,border : false
    ,html   : '<table class="smallFont" width="100%"><tr><td>Place your curser over points on the map to view additional information about projects and receivers.  Use the tools below to filter receivers by project, operating schedule, acoustic frequency, and status.</td></tr></table>'
  });

  var glatosStudiesSelModel = new Ext.grid.CheckboxSelectionModel({
    header : ''
  });
  var glatosStudiesGridPanel = new Ext.grid.GridPanel({
     id               : 'glatosStudiesGridPanel'
    ,title            : 'Filter by project'
    ,store            : glatosStudiesStore
    ,height           : 2 * 21.1 + 26 + 6 + 25
    ,border           : false
    ,autoExpandColumn : 'name'
    ,columns          : [
       glatosStudiesSelModel
      ,{id : 'name' ,dataIndex : 'name' ,renderer : renderProjectName}
      ,{id : 'count',dataIndex : 'count',renderer : renderCount,align : 'right',width : 70}
    ]
    ,hideHeaders      : true
    ,loadMask         : true
    ,deferRowRender   : false
    ,selModel         : glatosStudiesSelModel
    ,listeners        : {
      rowclick : function(grid,rowIndex,e) {
        syncGlatos();
      }
    }
    ,tbar             : [
       '->'
      ,{
         text    : 'Reset all filters'
        ,icon    : "<%= asset_path 'arrow_refresh.png' %>"
        ,handler : function() {
          Ext.getCmp('glatosSeasonalGridPanel').getSelectionModel().suspendEvents();
          Ext.getCmp('glatosTimesStart').suspendEvents();
          Ext.getCmp('glatosTimesEnd').suspendEvents();
          Ext.getCmp('glatosStudiesGridPanel').getSelectionModel().selectAll();
          Ext.getCmp('glatosStudiesGridPanel').getSelectionModel().selectAll();
          Ext.getCmp('glatosFrequenciesGridPanel').getSelectionModel().selectAll();
          Ext.getCmp('glatosSeasonalGridPanel').getSelectionModel().selectAll();
          Ext.getCmp('glatosProjectStatusesGridPanel').getSelectionModel().selectAll();
          Ext.getCmp('glatosTimesStart').setValue(glatosDeployments.start);
          Ext.getCmp('glatosTimesEnd').setValue(glatosDeployments.ending);
          if (Ext.getCmp('glatosYearsComboBox').getStore().getCount() > 0) {
            Ext.getCmp('glatosYearsComboBox').setValue(Ext.getCmp('glatosYearsComboBox').getStore().getAt(0).get('year'));
          }
          checkOneFilter('glatosProjectStatusesFieldSet',true,true);
          Ext.getCmp('glatosSeasonalGridPanel').getSelectionModel().resumeEvents();
          Ext.getCmp('glatosTimesStart').resumeEvents();
          Ext.getCmp('glatosTimesEnd').resumeEvents();
          syncGlatos();
        }
      }
    ]
  });

  var glatosSeasonalSelModel = new Ext.grid.CheckboxSelectionModel({
     header : ''
  });
  var glatosSeasonalGridPanel = new Ext.grid.GridPanel({
     id               : 'glatosSeasonalGridPanel'
    ,title            : 'Filter by operating schedule'
    ,store            : new Ext.data.ArrayStore({
      fields : [
        'name'
      ]
      ,data : [
         ['Year-round']
        ,['Seasonal only']
      ]
    })
    ,height           : 2 * 21.1 + 26 + 6
    ,border           : false
    ,autoExpandColumn : 'name'
    ,columns          : [
       glatosSeasonalSelModel
      ,{id : 'name',dataIndex : 'name'}
    ]
    ,hideHeaders      : true
    ,loadMask         : true
    ,deferRowRender   : false
    ,selModel         : glatosSeasonalSelModel
    ,listeners        : {
      rowclick : function(grid,rowIndex,e) {
        syncGlatos();
      }
      ,viewready : function(grid) {
        grid.suspendEvents();
        grid.getSelectionModel().selectAll();
        grid.resumeEvents();
      }
    }
  });

  var glatosFrequenciesSelModel = new Ext.grid.CheckboxSelectionModel({
    header : ''
  });
  var glatosFrequenciesGridPanel = new Ext.grid.GridPanel({
     id               : 'glatosFrequenciesGridPanel'
    ,title            : 'Filter by acoustic frequency'
    ,store            : new Ext.data.ArrayStore({fields : ['frequency']})
    ,height           : 2 * 21.1 + 26 + 6
    ,border           : false
    ,autoExpandColumn : 'frequency'
    ,columns          : [
       glatosFrequenciesSelModel
      ,{id : 'frequency',dataIndex : 'frequency'}
    ]
    ,hideHeaders      : true
    ,loadMask         : true
    ,deferRowRender   : false
    ,selModel         : glatosFrequenciesSelModel
    ,listeners        : {
      rowclick : function(grid,rowIndex,e) {
        syncGlatos();
      }
    }
  });

  var glatosProjectStatusSelModel = new Ext.grid.CheckboxSelectionModel({
    header : ''
  });
  var glatosProjectStatusesGridPanel = new Ext.grid.GridPanel({
     id               : 'glatosProjectStatusesGridPanel'
    ,store            : new Ext.data.ArrayStore({
      fields : [
        'name'
      ]
      ,data : [
         ['Ongoing']
        ,['Proposed']
        ,['Finished']
      ]
    })
    ,height           : 65
    ,border           : false
    ,autoExpandColumn : 'name'
    ,columns          : [
       glatosProjectStatusSelModel
      ,{id : 'name',dataIndex : 'name'}
    ]
    ,hideHeaders      : true
    ,loadMask         : true
    ,deferRowRender   : false
    ,selModel         : glatosProjectStatusSelModel
    ,listeners        : {
      rowclick : function(grid,rowIndex,e) {
        checkOneFilter('glatosProjectStatusesFieldSet',true,false);
        syncGlatos();
      }
      ,viewready : function(grid) {
        grid.suspendEvents();
        grid.getSelectionModel().selectAll();
        grid.resumeEvents();
      }
    }
  });

  var glatosTimesFormPanel = new Ext.Panel({
     id          : 'glatosTimesFormPanel'
    ,height      : 55
    ,border      : false
    ,items       : [
      new Ext.FormPanel({
         border      : false
        ,labelWidth  : 1
        ,layout      : 'column'
        ,items       : [
          {border : false,columnWidth : 0.48,layout : 'form',items : new Ext.form.DateField({
             id         : 'glatosTimesStart'
            ,disabled   : true
            ,showToday  : false
            ,allowBlank : false
            ,width      : 100
          })}
          ,{border : false,columnWidth : 0.05,layout : 'form',html : '-',bodyStyle : 'text-align:center'}
          ,{border : false,columnWidth : 0.47,layout : 'form',items : new Ext.form.DateField({
             id         : 'glatosTimesEnd'
            ,disabled   : true
            ,showToday  : false
            ,allowBlank : false
            ,width      : 100
          })}
        ]
      })
      ,new Ext.FormPanel({
         layout      : 'column'
        ,border      : false
        ,items       : [
           {border : false,columnWidth : 0.10,html : '&nbsp;'}
          ,new Ext.Button({border : false,columnWidth : .30,text : 'OK',handler : function() {checkOneFilter('glatosTimesFieldSet',true,false);syncGlatos()}})
          ,{border : false,columnWidth : 0.20,html : '&nbsp;'}
          ,new Ext.Button({
             border      : false
            ,columnWidth : .30
            ,text        : 'Reset'
            ,handler     : function() {
              Ext.getCmp('glatosTimesStart').suspendEvents();
              Ext.getCmp('glatosTimesEnd').suspendEvents();
              Ext.getCmp('glatosTimesStart').setValue(glatosDeployments.start);
              Ext.getCmp('glatosTimesEnd').setValue(glatosDeployments.ending);
              Ext.getCmp('glatosTimesStart').resumeEvents();
              Ext.getCmp('glatosTimesEnd').resumeEvents();
              syncGlatos();
            }
          })
          ,{border : false,columnWidth : 0.10,html : '&nbsp;'}
        ]
      })
    ]
  });

  var glatosYearsFormPanel = new Ext.FormPanel({
     id              : 'glatosYearsFormPanel'
    ,height          : 30
    ,layout          : 'fit'
    ,border          : false
    ,items           : new Ext.form.ComboBox({
      store : new Ext.data.ArrayStore({
         fields : ['year']
      })
      ,id             : 'glatosYearsComboBox'
      ,displayField   : 'year'
      ,disabled       : true
      ,valueField     : 'year'
      ,mode           : 'local'
      ,forceSelection : true
      ,triggerAction  : 'all'
      ,editable       : false
      ,listeners      : {
        select : function(combo,rec) {
          checkOneFilter('glatosYearsFieldSet',true,false);
          syncGlatos();
        }
      }
    })
  });

  var mainPanel = new Ext.Panel({
     layout   : 'border'
    ,renderTo : 'mainPanel'
    ,width    : 400
    ,height   : 400
    ,hidden   : true
    ,items    : [
       new Ext.Panel({
         region      : 'west'
        ,id          : 'controlPanel'
        ,width       : 275
        ,title       : 'GLATOSWeb Explore Tool'
        ,collapsible : true
        ,autoScroll  : true
        ,items       : [
           introPanel
          ,glatosStudiesGridPanel
          ,glatosSeasonalGridPanel
          ,glatosFrequenciesGridPanel
          ,new Ext.Panel({
             title       : 'Filter by status, date, or year'
            ,id          : 'glatosStatusTimePanel'
            ,border      : false
            ,bodyStyle   : 'padding:5px 5px 0'
            ,items       : [
              new Ext.form.FieldSet({
                 title          : '&nbsp;Status&nbsp;'
                ,id             : 'glatosProjectStatusesFieldSet'
                ,items          : glatosProjectStatusesGridPanel
                ,checkboxToggle : true
                ,autoHeight     : true
                ,onCheckClick   : function() {
                  checkOneFilter(this.id,this.checkbox.dom.checked,true);
                }
              })
              ,new Ext.form.FieldSet({
                 title          : '&nbsp;Date&nbsp;'
                ,id             : 'glatosTimesFieldSet'
                ,items          : glatosTimesFormPanel
                ,checkboxToggle : true
                ,onCheckClick   : function() {
                  checkOneFilter(this.id,this.checkbox.dom.checked,true);
                }
                ,listeners      : {render : function() {this.checkbox.dom.checked = false}}
              })
              ,new Ext.form.FieldSet({
                 title          : '&nbsp;Year&nbsp;'
                ,id             : 'glatosYearsFieldSet'
                ,items          : glatosYearsFormPanel
                ,checkboxToggle : true
                ,onCheckClick   : function() {
                  checkOneFilter(this.id,this.checkbox.dom.checked,true);
                }
                ,listeners      : {render : function() {this.checkbox.dom.checked = false}}
              })
            ]
          })
        ]
      })
      ,new Ext.Panel({
         region    : 'center'
        ,id        : 'mapPanel'
        ,items     : {
           border    : false
          ,html      : '<div id="map"><div id="resetMap"></div><div id="changeBasemap"></div></div>'
          ,listeners : {afterrender : function() {
            initMap();
            if (Ext.isIE) {
              Ext.getCmp('mapPanel').fireEvent('bodyresize');
            }
            new Ext.Button({
               renderTo : 'resetMap'
              ,text     : 'Reset map<br>zoom'
              ,width    : 102
              ,scale    : 'large'
              ,icon     : "<%= asset_path 'zoom_extend.png' %>"
              ,handler  : function() {
                map.setCenter(new OpenLayers.LonLat(-9367578.6331264,5443194.7163551),6);
              }
            });
            new Ext.Button({
               renderTo : 'changeBasemap'
              ,text     : 'Change map<br>background'
              ,width    : 102
              ,scale    : 'large'
              ,icon     : "<%= asset_path 'map.png' %>"
              ,handler  : function() {
                map.baseLayer.name == 'Google Satellite' ? map.setBaseLayer(map.getLayersByName('Google Map')[0]) : map.setBaseLayer(map.getLayersByName('Google Satellite')[0]);
              }
            });
          }}
        }
        ,listeners : {bodyresize : function() {
          var el = document.getElementById('map');
          if (el) {
            el.style.width  = this.getWidth() + 'px';
            el.style.height = this.getHeight() + 'px';
            map.updateSize();
          }
        }}
      })
    ]
  });

  window.onresize = function(e) {
    mainPanel.setSize(getVPSize()[0],getVPSize()[1] - 80);
    mainPanel.doLayout();
    if (!mainPanel.isVisible()) {
      mainPanel.show();
    }
  }

  window.onresize();
}

function initMap() {
  map = new OpenLayers.Map('map',{
     projection        : proj900913
    ,displayProjection : proj4326
    ,units             : "m"
    ,maxExtent         : new OpenLayers.Bounds(-20037508,-20037508,20037508,20037508.34)
    ,layers            : [
      new OpenLayers.Layer.Google('Google Satellite',{
         type          : google.maps.MapTypeId.SATELLITE
        ,projection    : proj900913
        ,maxZoomLevel  : maxZoomLevel
      })
      ,new OpenLayers.Layer.Google('Google Map',{
         type          : google.maps.MapTypeId.MAP
        ,projection    : proj900913
        ,maxZoomLevel  : maxZoomLevel
      })
      ,deploymentsLayer
    ]
  });
  map.setCenter(new OpenLayers.LonLat(-9367578.6331264,5443194.7163551),6);
  map.events.register('moveend',this,function() {
    if (popupObs && !popupObs.isDestroyed) {
      popupObs.show();
    }
  });

  hiliteCtl = new OpenLayers.Control.SelectFeature(deploymentsLayer,{
     hover         : true
    ,highlightOnly : true
    ,renderIntent  : 'temporary'
    ,eventListeners : {
      beforefeaturehighlighted : function(e) {
        if (mouseoverObs && mouseoverObs.isVisible()) {
          mouseoverObs.hide();
        }
        var rec = glatosStudiesStore.getAt(glatosStudiesStore.find('id',e.feature.attributes.study_id));
        mouseoverObs = new Ext.ToolTip({
           html         : '<font style="font-weight:bold">' + e.feature.attributes.code + '</font>&nbsp;-&nbsp;' + rec.get('name')
          ,anchor       : 'bottom'
          ,target       : 'OpenLayers.Geometry.Point_' + (Number(e.feature.id.split('_')[e.feature.id.split('_').length - 1]) - 1)
          ,hideDelay    : 0
          ,listeners    : {hide : function(tt) {
            if (!tt.isDestroyed && !Ext.isIE) {
              tt.destroy();
            }
          }}
        });
        mouseoverObs.show();
      }
    }
  });
  map.addControl(hiliteCtl);
  hiliteCtl.activate();

  popupCtl = new OpenLayers.Control.SelectFeature(deploymentsLayer,{
    eventListeners : {
      featurehighlighted : function(e) {
        if (popupObs && popupObs.isVisible()) {
          popupObs.hide();
        }
        var rec = glatosStudiesStore.getAt(glatosStudiesStore.find('id',e.feature.attributes.study_id));
        var status = 'ongoing';
        if (e.feature.attributes.proposed == true) {
          status = 'proposed';
        }
        else if (e.feature.attributes.recovered && isoStringToDate(e.feature.attributes.recovered) < dNow) {
          status = 'finished';
        }
        var tr  = [
           "<tr><td colspan=2 style='text-align:center'><b>" + rec.get('title') + "</b></td></tr>"
          ,"<tr><td colspan=2 style='text-align:center'><img height=4 src='<%= asset_path 'blank.png' %>'></td></tr>"
          ,"<tr><td colspan=2 style='text-align:center'>" + (e.feature.attributes.start ? dateToString(isoStringToDate(e.feature.attributes.start)) : '') + " - " + (e.feature.attributes.recovered ? dateToString(isoStringToDate(e.feature.attributes.recovered)) : 'currently active') + "</td></tr>"
          ,"<tr><td colspan=2 style='text-align:center'><table width='100%'>"
            ,"<tr><td class='obsInnerPopup'>status</td><td class='obsInnerPopupVal'>" + status + "</td></tr>"
            ,(status == 'proposed' ? "<tr><td class='obsInnerPopup'>funded</td><td class='obsInnerPopupVal'>" + (e.feature.attributes.funded ? 'yes' : 'no') + "</td></tr>" : '')
            ,"<tr><td class='obsInnerPopup'>seasonal</td><td class='obsInnerPopupVal'>" + (e.feature.attributes.seasonal ? 'yes' : 'no') + "</td></tr>"
            ,"<tr><td class='obsInnerPopup'>frequency</td><td class='obsInnerPopupVal'>" + (e.feature.attributes.frequency ? e.feature.attributes.frequency + ' KHz' : 'unknown') + "</td></tr>"
            ,"<tr><td class='obsInnerPopup'>description</td><td class='obsInnerPopupVal'>" + e.feature.attributes.otn_array.description + "</td></tr>"
            ,(e.feature.attributes.otn_array.waterbody ? "<tr><td class='obsInnerPopup'>water body</td><td class='obsInnerPopupVal'>" + e.feature.attributes.otn_array.waterbody + "</td></tr>" : '')
          ,"</table></td></tr>"
          ,"<tr><td colspan=2 style='text-align:center'><img height=4 src='<%= asset_path 'blank.png' %>'></td></tr>"
          ,"<tr><td colspan=2 style='text-align:center'><font color=gray>Visit the <a target=_blank href='<%= Rails.configuration.deployed_prefix %>/projects/" + e.feature.attributes.study_id + "'>project home page</a> for more information.</font></td></tr>"
        ];
        popupObs = new Ext.ToolTip({
           title     : e.feature.attributes.code + '&nbsp;-&nbsp;Site&nbsp;' + rec.get('name')
          ,items     : {bodyCssClass : 'obsPopup',html : '<table>' + tr.join('') + '</table>'}
          ,anchor    : 'bottom'
          ,width     : 345
          ,target    : 'OpenLayers.Geometry.Point_' + (Number(e.feature.id.split('_')[e.feature.id.split('_').length - 1]) - 1)
          ,autoHide  : false
          ,closable  : true
          ,listeners : {
            hide : function(tt) {
              if (!tt.isDestroyed) {
                tt.destroy();
              }
              if (e.feature.layer) {
                popupCtl.unselect(e.feature);
              }
            }
          }
        });
        popupObs.show();
      }
    }
  });
  map.addControl(popupCtl);
  popupCtl.activate();

  glatosStudiesStore.fireEvent('beforeload');
  OpenLayers.Request.issue({
     method  : 'GET'
    ,url     : "<%= Rails.configuration.deployed_prefix %>/projects.json"
    ,callback : function(r) {
      var json = new OpenLayers.Format.JSON().read(r.responseText);
      var menu = [];
      var minD;
      // for some reason I can't rely on the store to sort the recs by name, so do it before adding
      var studies = {};
      for (var i = 0; i < json.length; i++) {
        studies[json[i].name] = new glatosStudiesStore.recordType({
           'id'             : json[i].id
          ,'name'           : json[i].name
          ,'title'          : json[i].title
          ,'description'    : json[i].description
          ,'species'        : json[i].species
          ,'start'          : isoStringToDate(json[i].start)
          ,'ending'         : isoStringToDate(json[i].ending)
          ,'url'            : json[i].url
          ,'seasonal'       : json[i].seasonal == 'true'
          ,'code'           : json[i].code
          ,'model'          : json[i].model
          ,'count'          : 0
        });
        var ymd = json[i].start.split('T')[0].split('-');
        var d   = new Date(ymd[0],ymd[1] - 1,ymd[2]);
        if (!minD || d < minD) {
          minD = d;
        }
      }
      var sKeys = [];
      for (var s in studies) {
        sKeys.push(s);
      }
      sKeys.sort();
      for (var i = 0; i < sKeys.length; i++) {
        glatosStudiesStore.add(studies[sKeys[i]]);
      }
      glatosStudiesStore.fireEvent('load');
      Ext.getCmp('glatosStudiesGridPanel').getSelectionModel().selectAll();
      Ext.getCmp('glatosStudiesGridPanel').setHeight((glatosStudiesStore.getCount() <= maxOptionsPerFilter ? glatosStudiesStore.getCount() : maxOptionsPerFilter) * 21.1 + 26 + 6 + 25);

      OpenLayers.Request.issue({
         method   : 'GET'
        ,url      : "<%= config.deployed_prefix %>/deployments.geo"
        ,callback : function(r) {
          var json        = new OpenLayers.Format.JSON().read(r.responseText);
          var frequencies = {};
          var years       = {};
          for (var i in json) {
            if (json[i].geojson) {
              var geojson = new OpenLayers.Format.GeoJSON();
              var f       = geojson.read(json[i].geojson)[0];
              f.geometry.transform(proj4326,map.getProjectionObject());
              glatosDeployments.features.push(f);
              years[glatosDeployments.start.getUTCFullYear()] = 1;
              if (f.attributes.start && isoStringToDate(f.attributes.start).getTime() < glatosDeployments.start.getTime()) {
                glatosDeployments.start = isoStringToDate(f.attributes.start);
              }
              years[glatosDeployments.ending.getUTCFullYear()] = 1;
              if (f.attributes.recovered && isoStringToDate(f.attributes.recovered).getTime() > glatosDeployments.ending.getTime()) {
                glatosDeployments.ending = isoStringToDate(f.attributes.recovered);
              }
              if (f.attributes.frequency) {
                frequencies[f.attributes.frequency] = true;
              }
            }
          }

          deploymentsLayer.addFeatures(glatosDeployments.features);

          for (var i in frequencies) {
            glatosDeployments.frequencies.push(i);
          }
          glatosDeployments.frequencies.sort();
          var sto = Ext.getCmp('glatosFrequenciesGridPanel').getStore();
          for (var i = 0; i < glatosDeployments.frequencies.length; i++) {
            sto.add(new sto.recordType({
              frequency : glatosDeployments.frequencies[i] + ' KHz'
            }));
          }
          sto.add(new sto.recordType({
            frequency : 'Unknown'
          }));
          Ext.getCmp('glatosFrequenciesGridPanel').getSelectionModel().selectAll();
          Ext.getCmp('glatosFrequenciesGridPanel').setHeight((sto.getCount() <= maxOptionsPerFilter ? sto.getCount() : maxOptionsPerFilter) * 21.1 + 26 + 6);

          Ext.getCmp('glatosTimesStart').setValue(glatosDeployments.start);
          Ext.getCmp('glatosTimesStart').setMinValue(glatosDeployments.start);
          Ext.getCmp('glatosTimesStart').setMaxValue(glatosDeployments.ending);
          Ext.getCmp('glatosTimesEnd').setValue(glatosDeployments.ending);
          Ext.getCmp('glatosTimesEnd').setMinValue(glatosDeployments.start);
          Ext.getCmp('glatosTimesEnd').setMaxValue(glatosDeployments.ending);
          Ext.getCmp('glatosTimesStart').enable();
          Ext.getCmp('glatosTimesEnd').enable();

          var sto = Ext.getCmp('glatosYearsComboBox').getStore();
          for (var y in years) {
           sto.add(new sto.recordType({year : y}));
          }
          sto.sort('year','DESC');
          if (sto.getCount() > 0) {
            Ext.getCmp('glatosYearsComboBox').setValue(sto.getAt(0).get('year'));
          }
          Ext.getCmp('glatosYearsComboBox').enable();
          syncStudiesCounts();
        }
      });
    }
  });
}

function renderProjectName(val,metadata) {
  metadata.attr = 'ext:qtip="' + val + '"';
  return val;
}

function renderCount(val) {
  return val + ' on map';
}

function isoStringToDate(s) {
  // 2010-01-01T00:00:00Z
  var p = s.split('T');
  var ymd = p[0].split('-');
  var hm = p[1].split(':');
  return new Date(
     ymd[0]
    ,ymd[1] - 1
    ,ymd[2]
    ,hm[0]
    ,hm[1]
  );
}

function dateToString(d) {
  var mon = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  return mon[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear();
}

function syncGlatos() {
  if (popupObs && popupObs.isVisible()) {
    popupObs.hide();
  }

  hiliteCtl.unselectAll();
  popupCtl.unselectAll();

  var studyFilter = {};
  var sel = Ext.getCmp('glatosStudiesGridPanel').getSelectionModel().getSelections();
  for (var i = 0; i < sel.length; i++) {
    studyFilter[sel[i].get('id')] = true;
  }

  var seasonalFilter = {};
  sel = Ext.getCmp('glatosSeasonalGridPanel').getSelectionModel().getSelections();
  for (var i = 0; i < sel.length; i++) {
    seasonalFilter[sel[i].get('name')] = true;
  }

  var frequencyFilter = {};
  sel = Ext.getCmp('glatosFrequenciesGridPanel').getSelectionModel().getSelections();
  for (var i = 0; i < sel.length; i++) {
    frequencyFilter[sel[i].get('frequency').replace(' KHz','')] = true;
  }

  var timeFilter = [];
  if (Ext.getCmp('glatosTimesFieldSet').checkbox.dom.checked && Ext.getCmp('glatosTimesStart').getValue() != '' && Ext.getCmp('glatosTimesEnd').getValue() != '') {
    timeFilter = [Ext.getCmp('glatosTimesStart').getValue().getTime(),Ext.getCmp('glatosTimesEnd').getValue().getTime()];
  }
  else if (Ext.getCmp('glatosYearsFieldSet').checkbox.dom.checked) {
    timeFilter = [new Date(Ext.getCmp('glatosYearsComboBox').getValue(),0,1,0,0,0,0).getTime(),new Date(Number(Ext.getCmp('glatosYearsComboBox').getValue()) + 1,0,1,0,0,0,0).getTime()];
  }

  var statusFilter = {};
  sel = Ext.getCmp('glatosProjectStatusesGridPanel').getSelectionModel().getSelections();
  for (var i = 0; i < sel.length; i++) {
    if (sel[i].get('name') == 'Ongoing') {
      statusFilter['ongoing'] = true;
    }
    if (sel[i].get('name') == 'Proposed') {
      statusFilter['proposed'] = true;
    }
    if (sel[i].get('name') == 'Finished') {
      statusFilter['finished'] = true;
    }
  }

  function statusOK() {
    if (!Ext.getCmp('glatosProjectStatusesFieldSet').checkbox.dom.checked) {
      return true;
    }
    var ok = false;
    if (statusFilter['ongoing']) {
      ok = ok || !proposed && start <= dNow && dNow <= recovered;
    }
    if (statusFilter['proposed']) {
      ok = ok || proposed;
    }
    if (statusFilter['finished']) {
      ok = ok || !proposed && recovered < dNow;
    }
    return ok;
  }

  var f = [];
  for (var i = 0; i < glatosDeployments.features.length; i++) {
    var start = isoStringToDate(glatosDeployments.features[i].attributes.start).getTime();
    var recovered = dNow.getTime();
    var proposed = glatosDeployments.features[i].attributes.proposed;
    if (glatosDeployments.features[i].attributes.recovered) {
      recovered = isoStringToDate(glatosDeployments.features[i].attributes.recovered).getTime();
    }
    if (
      studyFilter[glatosDeployments.features[i].attributes.study_id]
      && (
        (seasonalFilter['Year-round'] ? !glatosDeployments.features[i].attributes.seasonal : false)
        || (seasonalFilter['Seasonal only'] ? glatosDeployments.features[i].attributes.seasonal : false)
      )
      && (glatosDeployments.features[i].attributes.frequency ? frequencyFilter[glatosDeployments.features[i].attributes.frequency] : frequencyFilter['Unknown'])
      && (timeFilter.length == 2 ? (
        (timeFilter[0] <= start && start <= timeFilter[1])
        || (timeFilter[0] <= recovered && recovered <= timeFilter[1])
        || (start <= timeFilter[0] && timeFilter[1] <= recovered)
      ) : true)
      && statusOK()
    ) {
      deploymentsLayer.features[i].style = null;
    }
    else {
      deploymentsLayer.features[i].style = OpenLayers.Feature.Vector.style["delete"];
    }
  }

  deploymentsLayer.redraw();
  syncStudiesCounts();
}

function checkOneFilter(id,cked,sync) {
  var a = ['glatosProjectStatusesFieldSet','glatosTimesFieldSet','glatosYearsFieldSet'];
  for (var i = 0; i < a.length; i++) {
    Ext.getCmp(a[i]).suspendEvents();
  }
  for (var i = 0; i < a.length; i++) {
    if ((cked && a[i] == id) || (!cked && i == 0)) {
      Ext.getCmp(a[i]).checkbox.dom.checked = true;
    }
    else {
      Ext.getCmp(a[i]).checkbox.dom.checked = false;
    }
  }
  for (var i = 0; i < a.length; i++) {
    Ext.getCmp(a[i]).resumeEvents();
  }
  if (sync) {
    syncGlatos();
  }
}

function syncStudiesCounts() {
  glatosStudiesStore.each(function(rec) {
    rec.set('count',0);
    rec.commit();
  });
  for (var i = 0; i < deploymentsLayer.features.length; i++) {
    if (!deploymentsLayer.features[i].style) {
      var rec = glatosStudiesStore.getAt(glatosStudiesStore.find('id',deploymentsLayer.features[i].attributes.study_id));
      rec.set('count',rec.get('count') + 1);
      rec.commit();
    }
  }
}
