%h1 Deployments

%table{:id => :table}

  :javascript

    function makeActionButtons(oObj) {
      var text = "";
      text += "<a href='#' class='destroyer'>Delete</a> ";
      return text;
    }

    function makeExpandButton(oObj) {
      return "<img class='toggler' src='#{asset_path 'details_open.png'}'>";
    }

    /* Formating function for extra details */
    function fnFormatDetails(nTr) {
      var aData = oTable.fnGetData(nTr);
      var sOut = '<img alt="Map location" width="200" height="200" ';
      sOut    += 'src="http://maps.googleapis.com/maps/api/staticmap?zoom=11&size=200x200&sensor=false&markers=size:small|color:yellow|'+aData.latitude+','+aData.longitude+'"';
      sOut    += '</img>';
      return sOut;
    }

    var oTable;

    $(document).ready(function() {

      /* Init DataTables */
      oTable = $('#table').dataTable( {
        "bJQueryUI": true,
        "bProcessing": true,
        "bServerSide": true,
        "bDeferRender": true,
        "bFilter": false,
        "sPaginationType": "full_numbers",
        "sAjaxSource": "#{request.path}.json",
        "aoColumns": [
          { "sClass": "center", "bSortable": false, "mDataProp": null, "fnRender": function (oObj){ return makeExpandButton(oObj); } },
          { "sTitle": "Study", "sName": "study_id", "mDataProp": "study_id" },
          { "sTitle": "Start", "sName": "start", "mDataProp": "start" },
          { "sTitle": "End", "sName": "end", "mDataProp": "end" },
          { "sTitle": "Location", "sName": "location", "mDataProp": null, "fnRender": function (oObj){ return oObj.aData.longitude + ", " + oObj.aData.latitude } },
          { "sTitle": "Actions", "sName": "action", "mDataProp": null, "fnRender": function (oObj){ return makeActionButtons(oObj); } }
        ],

        "fnDrawCallback": function(oSettings, json) {

          $(".destroyer").click(function(e) {
            if(confirm("Are you sure?")) {
              e.preventDefault();
              var aData = oTable.fnGetData($(this).parents('tr')[0]);
              var id = aData.DT_RowId;
              $.ajax({
                type: "DELETE",
                url: "#{request.path}/"+id+".js",
                success: function(){
                  oTable.fnDraw();
                },
                error: function(){
                  alert('Failed to delete Deployment');
                }
              });
            }
          });
        }
      });

      $('#table tbody td img.toggler').live( 'click', function () {
        var nTr = this.parentNode.parentNode;
        if (this.src.match('details_close')) {
          /* This row is already open - close it */
          this.src = "#{asset_path 'details_open.png'}";
          oTable.fnClose( nTr );
        } else {
          /* Open this row */
          this.src = "#{asset_path 'details_close.png'}";
          oTable.fnOpen( nTr, fnFormatDetails(nTr), 'details' );
        }
      });

    });
