%h1 Reports

%table{:id => :table}

  :javascript

    function makeActionButtons(oObj) {
      var text = "";
      text += "<a href='#' class='destroyer'>Delete</a> ";

      var cn = !oObj.aData.contacted ? "Contact" : "Uncontact"
      text += "<a href='#' class='contacter'>" + cn + "</a> ";

      var rs = !oObj.aData.resolved ? "Resolve" : "Unresolve"
      text += "<a href='#' class='resolver'>" + rs + "</a> ";

      return text;
    }

    function makeTagCode(oObj) {
      return "#{escape_javascript tags_and_active_deployments}";
    }

    function makeStudyName(oObj) {
      try {
        return oObj.aData.tag_deployment.tag.study.name;
      } catch(exp) {
        return "";
      }
    }

    function makeExpandButton(oObj) {
      return "<img src='#{asset_path 'details_open.png'}'>";
    }

    /* Formating function for extra details */
    function fnFormatDetails(nTr) {
      //:tag, :description, :method, :name, :phone, :email, :city, :state, :reported, :height, :weight, :fishtype, :found
      var aData = oTable.fnGetData(nTr);
      var sOut = '<table><tbody>';
      sOut += '<tr><td>Description:</td><td>'+aData.description+'</td></tr>';
      sOut += '<tr><td>Location:</td><td>'+aData.location+'</td></tr>';
      sOut += '<tr><td>Length:</td><td>'+aData.length+' inches</td></tr>';
      sOut += '<tr><td>Weight:</td><td>'+aData.weight+' lbs</td></tr>';
      sOut += '<tr><td>Contact:</td><td>'+aData.name+'</td></tr>';
      sOut += '<tr><td></td><td>'+aData.email+'</td></tr>';
      sOut += '<tr><td></td><td>'+aData.phone+'</td></tr>';
      sOut += '<tr><td></td><td>'+aData.city + ", " + aData.state+'</td></tr>';
      sOut += '</tbody></table>';

      return sOut;
    }

    var oTable;

    $(document).ready(function() {

      /* Init DataTables */
      oTable = $('#table').dataTable( {
        "bJQueryUI": true,
        "bProcessing": true,
        "bServerSide": true,
        "bDeferRender": true,
        "bFilter": false,
        "aaSorting": [[ 4, "ASC" ]],
        "sPaginationType": "full_numbers",
        "sAjaxSource": "#{request.path}.dataTable",
        "aoColumns": [
          { "sClass": "center", "bSortable": false, "mDataProp": null, "fnRender": function (oObj){ return makeExpandButton(oObj); } },
          { "sTitle": "Study", "bSortable": false, "mDataProp": null, "fnRender": function (oObj){ return makeStudyName(oObj); } },
          { "sTitle": "Matched Tag", "bSortable": false, "mDataProp": null, "fnRender": function (oObj){ return makeTagCode(oObj); } },
          { "sTitle": "Reported Tag", "sName": "input_tag", "mDataProp": "input_tag" },
          { "sTitle": "Fish Type", "sName": "fishtype", "mDataProp": "fishtype" },
          { "sTitle": "Method", "sName": "method", "mDataProp": "method" },
          { "sTitle": "Found", "sName": "found", "mDataProp": "found" },
          { "sTitle": "Reported", "sName": "reported", "mDataProp": "reported" },
          { "sTitle": "Actions", "sName": "action", "mDataProp": null, "fnRender": function (oObj){ return makeActionButtons(oObj); } }
        ],

        "fnDrawCallback": function(oSettings, json) {

          // Set the selected matched tag in the combobox
          $(".tagger").each(function(e) {
            var aData = oTable.fnGetData($(this).parents('tr')[0]);
            $(this).val(aData.tag_deployment_id);
          });

          $(".destroyer").click(function(e) {
            if(confirm("Are you sure?")) {
              e.preventDefault();
              var aData = oTable.fnGetData($(this).parents('tr')[0]);
              var id = aData.DT_RowId;
              $.ajax({
                type: "DELETE",
                url: "/reports/"+id+".js",
                success: function(){
                  oTable.fnDraw();
                },
                error: function(){
                  alert('Failed to delete Report');
                }
              });
            }
          });

          $(".contacter").click(function(e) {
            e.preventDefault();
            var aData = oTable.fnGetData($(this).parents('tr')[0]);
            var id = aData.DT_RowId;
            // Do the opposite of what they currently are
            var contacted = !aData.contacted
            $.ajax({
              type: "PUT",
              url: "/reports/"+id+".js",
              data: "report[contacted]="+contacted,
              success: function(){
                oTable.fnDraw();
              },
              error: function(){
                alert('Failed to set Report as contacted');
              }
            });
          });

          $(".resolver").click(function(e) {
            e.preventDefault();
            var aData = oTable.fnGetData($(this).parents('tr')[0]);
            var id = aData.DT_RowId;
            // Do the opposite of what they currently are
            var resolved = !aData.resolved
            $.ajax({
              type: "PUT",
              url: "/reports/"+id+".js",
              data: "report[resolved]="+resolved,
              success: function(){
                oTable.fnDraw();
              },
              error: function(){
                alert('Failed to set Report as resolved');
              }
            });
          });

          $(".tagger").change(function(e) {
            e.preventDefault();
            var aData = oTable.fnGetData($(this).parents('tr')[0]);
            var id = aData.DT_RowId;
            var tag_deployment_id = $(e.target).val();
            $.ajax({
              type: "PUT",
              url: "/reports/"+id+".js",
              data: "report[tag_deployment_id]="+tag_deployment_id,
              success: function(){
                oTable.fnDraw();
              },
              error: function(){
                alert('Failed to update Reports Tag');
              }
            });
          });

        }
      });

      $('#table tbody td img').live( 'click', function () {
        var nTr = this.parentNode.parentNode;
        if (this.src.match('details_close')) {
          /* This row is already open - close it */
          this.src = "#{asset_path 'details_open.png'}";
          oTable.fnClose( nTr );
        } else {
          /* Open this row */
          this.src = "#{asset_path 'details_close.png'}";
          oTable.fnOpen( nTr, fnFormatDetails(nTr), 'details' );
        }
      });

    });
