%p{:class => 'report_text reward'}
  Fish caught with a jaw tag should be reported to the 
  %a{:href => 'http://www.michigandnr.com/taggedfish/'}
    Michigan Department of Natural Resources
  or the 
  %a{:href => 'http://ohiodnr.gov/Home/FishingSubhomePage/fisheriesmanagementplaceholder/taggedfish/tabid/21914/Default.aspx'}
    Ohio Department of Natural Resources 


%p{:class => 'report_text'}
  Acoustic transmitters, or tags, have been implanted in a variety of species around the Greak Lakes.  These tags allow GLATOS researchers to track the movements of tagged fish, givin ghem great insights into migration patterns, ecology, and spawning behaviours.
%p{:class => 'report_text'}
  Tags are essential to successful implementation of fish telemetry projects, so if you find a tag, please take the time to fill out the information below so that we can let our researches know.
%p{:class => 'report_text reward'}
  * Indicates a required field

= semantic_form_for @report, :class => 'report' do |f|

  .section
    .left-section
      = f.inputs :name => "1 - Contact Information", :id => "contact_info" do

        = f.input :name,                          :label => "Full Name", :input_html => {  :class => "updater"}
        = f.input :address     

        
        = f.input :city,        :wrapper_html => {:class => "left-form-element"}
        = f.input :state,       :as => :select,   :label => "State/Province",     :collection => State::NAMES,  :wrapper_html => {:class => "right-form-element"}
        
        
        = f.input :zipcode,                       :label => "Zip Code",  :wrapper_html => {:class => "left-form-element"}
        = f.input :phone,       :as => :string,   :label => "Telephone",  :wrapper_html => {:class => "right-form-element"}

        .clear

        = f.input :email,       :as => :string,   :hint => "If you don’t have an email address please call John Doe at 555-555-5555 to report the tag.",  :wrapper_html => {:class => "left-form-element"}
        = f.input :newsletter,                    :label => "Subscribe to the GLATOS newsletter",  :wrapper_html => {:class => "right-form-element"}



    .right-section
      %p{:class => "report_text"}
        By providing your contact information, project leads will be able to contact you about returning the tag
      %p{:class => "report_text", :style => "text-decoration: underline;"}
        Some projects even provide rewards for returned INTERNAL tags!
  
  .clear
  .section
    .left-section
      = f.inputs :name => "2 - Type of Fish *", :id => "fish_type" do
        = f.input :fishtype,    :as => :radio,  :collection => Fish::TYPES,       :label => false

    .right-section
      = f.inputs :name => "3 - How did you find the tag? *", :id => "how_found" do
        = f.input :method,      :as => :radio,  :collection => Report::METHODS,   :label => false

  .clear
  .section
    .left-section
      = f.inputs :name => "4 - What did you do with the fish? *", :id => "did_with" do
        = f.input :didwith,      :as => :radio,  :collection => Report::DIDWITH,     :label => false
  
    .right-section
      = f.inputs :name => "5 - When did you catch the fish? *", :id => "when_found" do
        = f.input :found,       :as => :string,  :label => false,   :input_html => { :readonly => true }
  
  .clear
  .section
    .left-section
      = f.inputs :name => "6 - Where did you catch the fish?", :id => "where_found" do
        = f.input :description, :label => "Capture Location Description (e.g., north of Blue Water Bridge)"
        = f.input :depth,       :label => "Depth of water",   :hint => "feet"
        = f.input :location, :as => :string,   :label => "Coordinates (click approximate location on map)",  :input_html => {  :readonly => "readonly"}
  
    .right-section
      %p{:class => "report_text"}
        %br
      #map{:style => "width: 100%; height: 240px;"}

  .clear
  .section
    .left-section
      = f.inputs :name => "7 - What was the length of the fish?", :id => "fish_length" do
        = f.input :length,    :as => :string,     :label => "Fish Length",          :hint => "inches"

    .right-section
      = f.inputs :name => "8 - Did you take any pictures of the fish?", :id => "pictures" do
        .radios
          %input{:type => :radio, :value => 'yes', :id => 'picture_yes', :name => 'pictures'}
            Yes
          %input{:type => :radio, :value => 'no', :id => 'picture_no', :name => 'pictures'}
            No
          #picture_explain
            %span Please email the images to: report@glatos.org and paste this text into the body of the email:
            %textarea{:id => 'picture_paste', :style => 'display: block;', :readonly => "true"}

  .clear
  .section
    .left-section
      = f.inputs :name => "9 - Tag Information (see photo on right)", :id => "tag_information" do
        .radios
          %p
            %span{:class => 'report_text'}
              Does the fish have an internal tag?
            %br
            %input{:type => :radio, :value => 'yes', :id => 'internal_yes', :name => 'internal_found'}
              Yes
            %input{:type => :radio, :value => 'no', :id => 'internal_no', :name => 'internal_found'}
              No
          %p{:id => 'internal_read', :style => 'display: none;'}
            %span{:class => 'report_text'}
              Is the Tag ID legible?
            %br
            %input{:type => :radio, :value => 'yes', :id => 'internal_read_yes', :name => 'internal_readable'}
              Yes
            %input{:type => :radio, :value => 'no', :id => 'internal_read_no', :name => 'internal_readable'}
              No
          #internal_tag
            = f.input :input_tag,              :label => "Internal ID Tag Number", :input_html => {  :class => "updater"}
        
        %br
        
        .radios
          %p{:id => 'external_found'}
            %span{:class => 'report_text'}
              Does the fish have any external tags?
              %br
              (a fish may have 0 or more)
            %br
            %input{:type => :radio, :value => 'yes', :id => 'external_yes', :name => 'external_found'}
              Yes
            %input{:type => :radio, :value => 'no', :id => 'external_no', :name => 'external_found'}
              No
          #external_tags
            = f.input :input_external_codes_one,   :as => :string,     :label => false,    :hint => "External Tag #1", :input_html => { :name => "report[input_external_codes_one]", :class => "updater external_tag"}
            = f.input :input_external_codes_two,   :as => :string,     :label => false,    :hint => "External Tag #2", :input_html => { :name => "report[input_external_codes_two]", :class => "updater external_tag"}


    .right-section
      %p{:class => "report_text"}
        If you haven't done so already, immediately remove the internal transmitters from the fish and rinse with water.  Store the transmitter at room temperature.
        %span{:class => "reward"}
          DO NOT FREEZE.
        You may keep the fish!
      %p{:class => 'full_img'}
        = image_tag("tagged_fish.jpg")
      %p{:class => "report_text reward"}
        Note: Rewards are offered for the INTERNAL tags only!

  .clear
  .section
    = f.inputs  :name => "10 - Additional Comments", :id => "comments" do
      = f.input :comments, :input_html => {  :class => "updater"}

  .section
    %p{:class => 'report_text reward'}
      * Indicates a required field
      %br
      Review your ID Tag Number before submitting

    = f.commit_button :button_html => { :value => 'Submit Tag Report', :disable_with => 'Wait...' },  :input_html => { :style => 'margin: 20px;' }

  .clear

:javascript

  $(document).ready(function() {

    $( "#report_found" ).datepicker({
       buttonImage: "#{asset_path 'small_calendar.png'}"
      ,changeMonth: true
      ,changeYear:  true
      ,showOn: "both"
      ,autoSize: true
      ,buttonImageOnly: true
      ,showOptions: {direction: 'up' }
      });

    // Fish Type
    row_str = '<li class="choice"><label for="other_fishtype_input"><input id="report_fishtype_other" name="report[fishtype]" type="radio" value="">Other \
      <input type="text" id="other_fishtype_input"> \
    </label></li>';
    $("#report_fishtype_input > fieldset > ol").append(row_str);
    $("#other_fishtype_input").keyup(function(val) {
      $("#report_fishtype_other").attr('checked', true);
      $("#report_fishtype_other").val($("#other_fishtype_input").val());
    });
    var $radios = $('input[name="report[fishtype]"]:radio');
    if($radios.is(':checked') === false) {
      $("#other_fishtype_input").val("#{@report.fishtype}");
      $("#other_fishtype_input").keyup();
    }

    // Method
    row_str = '<li class="choice"><label for="other_method_input"><input id="report_method_other" name="report[method]" type="radio" value="">Other \
      <input type="text" id="other_method_input"> \
    </label></li>';
    $("#report_method_input > fieldset > ol").append(row_str);
    $("#other_method_input").keyup(function(val) {
      $("#report_method_other").attr('checked', true);
      $("#report_method_other").val($("#other_method_input").val());
    });
    var $radios = $('input[name="report[method]"]:radio');
    if($radios.is(':checked') === false) {
      $("#other_method_input").val("#{@report.method}");
      $("#other_method_input").keyup();
    }

    // Did With
    row_str = '<li class="choice"><label for="other_didwith_input"><input id="report_didwith_other" name="report[didwith]" type="radio" value="">Other \
      <input type="text" id="other_didwith_input"> \
    </label></li>';
    $("#report_didwith_input > fieldset > ol").append(row_str);
    $("#other_didwith_input").keyup(function(val) {
      $("#report_didwith_other").attr('checked', true);
      $("#report_didwith_other").val($("#other_didwith_input").val());
    });
    var $radios = $('input[name="report[didwith]"]:radio');
    if($radios.is(':checked') === false) {
      $("#other_didwith_input").val("#{@report.didwith}");
      $("#other_didwith_input").keyup();
    }

    // Picture stuff
    $("#picture_no").click(function() {
      $("#picture_explain").hide();
    });

    $("#picture_no").click();

    $("#picture_yes").click(function() {
      $("#picture_explain").show();
    });
    $(".updater").keyup(function() {
      updateEmailBody();
    });

    // Google Maps
    var latlng = new google.maps.LatLng(45.287, -84.050);
    var myOptions = {
      zoom: 5,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map"),
        myOptions);
    var mapMarkers = [];

    google.maps.event.addListener(map, 'click', function(event) {
      // get rid of any other marker(s)
      for (var i = 0; i < mapMarkers.length; i++){
       mapMarkers[i].setMap(null);
      }
      mapMarkers = [new google.maps.Marker({position : event.latLng,map : map})];
      $("#report_location").val(Math.round(event.latLng.lng()*1000)/1000 + ", " + Math.round(event.latLng.lat()*1000)/1000);
    });

    // Tag radios
    $("#internal_yes").click(function() {
      $("#internal_read").show();
      $("input:radio[name='internal_readable']").removeAttr("checked");

      $("#report_input_tag").removeAttr('readonly');
      if ($("#report_input_tag").val() == "NO INTERNAL TAG") {
        $("#report_input_tag").val("");
      }
    })
    $("#internal_no").click(function() {
      $("#report_input_tag").val("NO INTERNAL TAG");
      $("#report_input_tag").attr("readonly","readonly");
      $("#internal_read").hide();
    })

    $("#internal_read_yes").click(function() {
      $("#report_input_tag").removeAttr('readonly');
      if ($("#report_input_tag").val() == "TAG NOT LEGIBLE") {
        $("#report_input_tag").val("");
      }
    });
    $("#internal_read_no").click(function() {
      $("#report_input_tag").val("TAG NOT LEGIBLE");
      $("#report_input_tag").attr("readonly","readonly");
    });

    $("#external_no").click(function() {
      $(".external_tag").val("").attr("readonly","readonly");
    });
    $("#external_yes").click(function() {
      $(".external_tag").removeAttr('readonly');
    });

  });

  function updateEmailBody() {
    var c = "";
    c += "Name: " + $("#report_name").val();
    c += "\n";
    c += "\n";
    c += "Internal Tag: " + $("#report_input_tag").val();
    c += "\n";
    var excodes = $("#report_input_external_codes_one").val() + "," + $("#report_input_external_codes_two").val();
    c += "External Tag(s): " + excodes;
    c += "\n";
    c += "\n";
    c += "Comments: " + $("#report_comments").val() + "\n";
    
    $("#picture_paste").val(c);
  }
  updateEmailBody();

= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false"
