
= semantic_form_for @report, :class => 'report' do |f|
  = f.semantic_errors
  = f.inputs do
    #report-left-side
      %p{:class => 'report_text'}
        Acoustic transmitters, or tags, have been implanted in a variety of species around the Greak Lakes.  These tags allow GLATOS researchers to track the movements of tagged fish, givin ghem great insights into migration patterns, ecology, and spawning behaviours.
      %p{:class => 'report_text'}
        Tags are essential to successful implementation of fish telemetry projects, so if you find a tag, please take the time to fill out the information below so that we can let our researches know.
      %p{:class => 'report_text reward'}
        %span{:style => 'font-size: 30px; vertical-align: middle;'}
          *
        Indicates a required field

      .clear

      = f.input :input_tag,              :label => "Internal ID Tag Number",   :wrapper_html => { :class => 'left-form-element' }
      %label{:class => 'custom_label label'}
        External ID Tag Numbers
      = f.input :input_external_codes,    :as => :string,     :wrapper_html => { :class => 'tiny-form-element' },      :label => false,          :hint => "External Tag #1", :input_html => { :name => "report[input_external_codes_one]"}
      = f.input :input_external_codes,    :as => :string,     :wrapper_html => { :class => 'tiny-form-element' },      :label => false,          :hint => "External Tag #2", :input_html => { :name => "report[input_external_codes_two]"}

      = f.input :description,                 :input_html => {  :value => "Water depth, distance from shore, coordinates, etc...", :class => 'default_value'},     :label => "Describe the area where you caught the fish or found the tag", :wrapper_html => { :class => 'left-form-element' }

      .clear

      %p{:class => "report_text reward"}
        By providing your contact information below project leads will be able to contact you about returning the tag

      %p{:class => "report_text reward", :style => "text-decoration: underline;"}
        Some projects even provide rewards for returned tags!

      = f.input :name,                          :wrapper_html => { :class => 'left-form-element' },     :label => "Full Name"
      = f.input :address,                       :wrapper_html => { :class => 'right-form-element' }

      = f.input :phone,       :as => :string,   :wrapper_html => { :class => 'left-form-element' },     :label => "Telephone"
      = f.input :city,                          :wrapper_html => { :class => 'right-form-element' }

      = f.input :email,       :as => :string,   :wrapper_html => { :class => 'left-form-element' },     :hint => "If you don’t have an email address please call John Doe at 555-555-5555 to report the tag."
      = f.input :state,       :as => :select,   :wrapper_html => { :class => 'tiny-form-element' },     :collection => State::NAMES,            :label => "State/Province"
      = f.input :zipcode,                       :wrapper_html => { :class => 'tiny-form-element' },                                             :label => "Zip Code"

      = f.input :newsletter,                    :wrapper_html => { :class => 'full-form-element' },     :label => "Subscribe to the GLATOS newsletter"

    #report-right-side

      %p{:class => "report_text reward"}
        If you haven't done so already, immediately remove the internal trasnmitters from the fish and rinse with water.  Store the transmitter at room temperature.  DO NOT FREEZE.  You may keep the fish!

      = f.input :method,      :as => :select,   :wrapper_html => { :class => 'left-form-element' },      :collection => Report::METHODS,   :label => "How did you find the tag?"
      = f.input :fishtype,    :as => :select,   :wrapper_html => { :class => 'right-form-element' },     :collection => Fish::TYPES,       :label => "What type of fish?"

      = f.input :found,       :as => :string,   :wrapper_html => { :class => 'left-form-element' },                                        :label => "When did you find the tag?",   :input_html => { :readonly => true }

      = f.input :length,    :as => :string,     :wrapper_html => { :class => 'tiny-form-element' },      :label => "Fish Length",          :hint => "inches"
      = f.input :weight,    :as => :string,     :wrapper_html => { :class => 'tiny-form-element' },      :label => "Fish Weight",          :hint => "pounds"

      .clear

      %p{:class => 'report_text'}
        = image_tag("tagged_fish.jpg")

      .spacer{:style => "height: 20px;"}

      = f.commit_button :button_html => { :disable_with => 'Wait...' },   :wrapper_html => { :style => 'margin: 20px; float: right;' }
      %div{:style => 'margin: 20px; float: right; line-height: 30px; font-weight: bold; font-style: italic;'}
        Review your ID Tag Number before submitting

      .clear

      %p{:class => 'report_text reward', :style => 'margin-right: 25px; text-align: right;'}
        %span{:style => 'font-size: 30px; vertical-align: middle;'}
          *
        Indicates a required field

:javascript

  $(document).ready(function() {
    $('.default_value').each(function() {
      var default_value = this.value;
      $(this).css('color', '#666');
      $(this).focus(function() {
        if(this.value == default_value) {
          this.value = '';
          $(this).css('color', '#333');
        }
      });
      $(this).blur(function() {
        if(this.value == '') {
          $(this).css('color', '#666');
          this.value = default_value;
        }
      });
    });

    $( "#report_found" ).datepicker({
       buttonImage: "#{asset_path 'small_calendar.png'}"
      ,changeMonth: true
      ,changeYear:  true
      ,showOn: "both"
      ,autoSize: true
      ,buttonImageOnly: true
      ,showOptions: {direction: 'up' }
      });

  });
