%html
  %head
    %title= 'Glatos - Explore'
    = stylesheet_link_tag   'explore'
    = stylesheet_link_tag   '/stylesheets/ext-all.css'
    = csrf_meta_tags

  %body{:onload => "Ext.onReady(function(){init()})"}

    .header

    #navigation
      .left
        = render 'shared/navigation'
      .right
        = render 'shared/glatos_navigation'

    = yield

    = javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'
    = javascript_include_tag '/javascripts/OpenLayers.js'
    = javascript_include_tag :explore